.btnmore {
    border: none;
    border-radius: 8px;
    background-color: rgb(140, 140, 232);
    color: white;
    padding: 10px;
    font-weight: 500;
    font-size: medium;
    display: flex;
    justify-content: center;
    margin: 10px auto;

}